@media (min-width: 768px) {
  .modal-xl {
    width: 80%;
   max-width:800px;
  }
}

.code_font {
  font-family: 'Fira Code', monospace;

}

hr.bold_line {
  background-color: black;
  width: 110%;
  height: 11px;
  border-top: 1px solid black
}
